In [1]:
import os
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# alternative way to import file without pre-setting column names
#indonesia_education = pd.read_csv("../data/levelofeducation.csv")
#indonesia_education.columns = education_columns

In [3]:
education_columns = ["province", "province_name", "city_code", "city_name",
                     "education_level", "male", "female", "latitude", "longitude"]

In [4]:
indonesia_education = pd.read_csv("../data/levelofeducation.csv", names = education_columns, 
                                 header = 0, index_col = 0)

In [5]:
indonesia_education.head()

,province_name,city_code,city_name,education_level,male,female,latitude,longitude
province,,,,,,,,
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tidak/Belum Tamat SD,1209,1971,2.62818,96.0898
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tamat SD,9545,10545,2.62818,96.0898
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tamat SLTP,6733,6100,2.62818,96.0898
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tamat SLTA,6945,4448,2.62818,96.0898
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tamat PT,2043,1777,2.62818,96.0898

goals:
1. combine counts of male and female 
2. group combinded counts by education level
3. group combined counts by province name and education level
4. group combined counts by city name and education level

* make a new variable ("total") that is a sum of males and females in a education category (by row)
    1. find the unique values of education 
    2. create dataframes that subset by level of education

In [6]:
indonesia_education["education_level"].unique()

array(['Tidak/Belum Tamat SD', 'Tamat SD', 'Tamat SLTP', 'Tamat SLTA',
       'Tamat PT'], dtype=object)

In [7]:
indonesia_education["total"] = indonesia_education["male"]+indonesia_education["female"]

In [8]:
indonesia_education.head()

,province_name,city_code,city_name,education_level,male,female,latitude,longitude,total
province,,,,,,,,,
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tidak/Belum Tamat SD,1209,1971,2.62818,96.0898,3180
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tamat SD,9545,10545,2.62818,96.0898,20090
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tamat SLTP,6733,6100,2.62818,96.0898,12833
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tamat SLTA,6945,4448,2.62818,96.0898,11393
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tamat PT,2043,1777,2.62818,96.0898,3820

* we can use pandas group by to aggregate sums

In [9]:
education_groups = indonesia_education.groupby(["education_level"])["total"].sum()
#education_groups = indonesia_education.groupby(indonesia_education["education_level"])["total"].sum()

In [10]:
education_groups

education_level
Tamat PT                11194347
Tamat SD                56113017
Tamat SLTA              40310023
Tamat SLTP              35006186
Tidak/Belum Tamat SD    12107698
Name: total, dtype: int64

* or we can use .loc to subset the dataframe to only include the value of education we are concerned with

In [11]:
belum_tamat_sd_df = indonesia_education.loc[indonesia_education["education_level"]=="Tidak/Belum Tamat SD"]
tamat_sd_df = indonesia_education.loc[indonesia_education["education_level"]=="Tamat SD"]
tamat_sltp_df = indonesia_education.loc[indonesia_education["education_level"]=="Tamat SLTP"]
tamat_slta_df = indonesia_education.loc[indonesia_education["education_level"]=="Tamat SLTA"]
tamat_pt_df = indonesia_education.loc[indonesia_education["education_level"]=="Tamat PT"]

In [12]:
belum_tamat_sd_df.head()

,province_name,city_code,city_name,education_level,male,female,latitude,longitude,total
province,,,,,,,,,
11,Prov. Nanggroe Aceh Darussalam,1101,Kab. Simeulue,Tidak/Belum Tamat SD,1209,1971,2.62818,96.0898,3180
11,Prov. Nanggroe Aceh Darussalam,1102,Kab. Aceh Singkil,Tidak/Belum Tamat SD,3407,4251,2.43900,97.9244,7658
11,Prov. Nanggroe Aceh Darussalam,1103,Kab. Aceh Selatan,Tidak/Belum Tamat SD,4722,5974,3.25638,97.2130,10696
11,Prov. Nanggroe Aceh Darussalam,1104,Kab. Aceh Tenggara,Tidak/Belum Tamat SD,1925,3215,3.59968,97.6619,5140
11,Prov. Nanggroe Aceh Darussalam,1105,Kab. Aceh Timur,Tidak/Belum Tamat SD,5746,7243,4.56983,97.7723,12989

In [13]:
print("the total population with belum tamat sd %d" % belum_tamat_sd_df["total"].sum())
print("the total population with tamat sd %d" % tamat_sd_df["total"].sum())
print("the total population with tamat sltp %d" % tamat_sltp_df["total"].sum())
print("the total population with tamat slta %d" % tamat_slta_df["total"].sum())
print("the total population with tamat pt %d" % tamat_pt_df["total"].sum())

the total population with belum tamat sd 12107698
the total population with tamat sd 56113017
the total population with tamat sltp 35006186
the total population with tamat slta 40310023
the total population with tamat pt 11194347

In [14]:
print("the total men with belum tamat sd %d" % belum_tamat_sd_df["male"].sum())
print("the total men with tamat sd %d" % tamat_sd_df["male"].sum())
print("the total men with tamat sltp %d" % tamat_sltp_df["male"].sum())
print("the total men with tamat slta %d" % tamat_slta_df["male"].sum())
print("the total men with tamat pt %d" % tamat_pt_df["male"].sum())

the total men with belum tamat sd 5525608
the total men with tamat sd 27430862
the total men with tamat sltp 18017048
the total men with tamat slta 22275190
the total men with tamat pt 5735592

In [15]:
print("the total women with belum tamat sd %d" % belum_tamat_sd_df["female"].sum())
print("the total women with tamat sd %d" % tamat_sd_df["female"].sum())
print("the total women with tamat sltp %d" % tamat_sltp_df["female"].sum())
print("the total women with tamat slta %d" % tamat_slta_df["female"].sum())
print("the total women with tamat pt %d" % tamat_pt_df["female"].sum())

the total women with belum tamat sd 6582090
the total women with tamat sd 28682155
the total women with tamat sltp 16989138
the total women with tamat slta 18034833
the total women with tamat pt 5458755

* Chris Albon's [guide](http://chrisalbon.com/python/pandas_apply_operations_to_groups.html) for apply operations with Pandas groups

In [16]:
city_education_groups = indonesia_education.groupby(["city_name",
                                                     "education_level"])["total"].sum()
#city_education_groups = indonesia_education.groupby([indonesia_education.city_name,
#                                                     indonesia_education.education_level])["total"].sum()

In [17]:
city_education_groups

city_name              education_level
Kab. Aceh Barat        Tamat PT                  9984
                       Tamat SD                 35798
                       Tamat SLTA               33821
                       Tamat SLTP               27952
                       Tidak/Belum Tamat SD      6399
Kab. Aceh Barat Daya   Tamat PT                  6653
                       Tamat SD                 29120
                       Tamat SLTA               17604
                       Tamat SLTP               19079
                       Tidak/Belum Tamat SD      8463
Kab. Aceh Besar        Tamat PT                 28446
                       Tamat SD                 49817
                       Tamat SLTA               90811
                       Tamat SLTP               59567
                       Tidak/Belum Tamat SD      9457
Kab. Aceh Jaya         Tamat PT                  3402
                       Tamat SD                 19535
                       Tamat SLTA               10359
                       Tamat SLTP               13438
                       Tidak/Belum Tamat SD      3865
Kab. Aceh Selatan      Tamat PT                  9880
                       Tamat SD                 44133
                       Tamat SLTA               31288
                       Tamat SLTP               31684
                       Tidak/Belum Tamat SD     10696
Kab. Aceh Singkil      Tamat PT                  4125
                       Tamat SD                 19744
                       Tamat SLTA               12597
                       Tamat SLTP               13317
                       Tidak/Belum Tamat SD      7658
                                                ...
Kota Tegal             Tamat PT                 13174
                       Tamat SD                 55684
                       Tamat SLTA               46988
                       Tamat SLTP               38386
                       Tidak/Belum Tamat SD     14204
Kota Ternate           Tamat PT                 17532
                       Tamat SD                 18073
                       Tamat SLTA               63063
                       Tamat SLTP               26149
                       Tidak/Belum Tamat SD      4668
Kota Tidore Kepulauan  Tamat PT                  6200
                       Tamat SD                 17957
                       Tamat SLTA               15914
                       Tamat SLTP               13280
                       Tidak/Belum Tamat SD      5178
Kota Tomohon           Tamat PT                  6638
                       Tamat SD                 13731
                       Tamat SLTA               27170
                       Tamat SLTP               16047
                       Tidak/Belum Tamat SD      4534
Kota Tual              Tamat PT                  3181
                       Tamat SD                  9793
                       Tamat SLTA               12004
                       Tamat SLTP                8772
                       Tidak/Belum Tamat SD      2022
Kota Yogyakarta        Tamat PT                 61111
                       Tamat SD                 38015
                       Tamat SLTA              136856
                       Tamat SLTP               55612
                       Tidak/Belum Tamat SD     13503
Name: total, dtype: int64

In [18]:
city_education_groups["Kab. Aceh Barat"]

education_level
Tamat PT                 9984
Tamat SD                35798
Tamat SLTA              33821
Tamat SLTP              27952
Tidak/Belum Tamat SD     6399
Name: total, dtype: int64

In [19]:
city_education_groups.to_csv("../data/city_education_groups.csv")

In [20]:
city_education = pd.read_csv("../data/city_education_groups.csv",
                             names = ["city", "education_level", "population"],header = 0)
city_education.head()

                   city       education_level  population
0       Kab. Aceh Barat              Tamat SD       35798
1       Kab. Aceh Barat            Tamat SLTA       33821
2       Kab. Aceh Barat            Tamat SLTP       27952
3       Kab. Aceh Barat  Tidak/Belum Tamat SD        6399
4  Kab. Aceh Barat Daya              Tamat PT        6653

In [21]:
#for i in indonesia_education["city_name"]:
#    print i